body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2f895471;
  }
  
  .menu-card {
    max-width: 800px;
    margin: 20px auto;
    background-color: rgb(46, 31, 69);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .menu-item {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .menu-item h2 {
    margin: 5px 0;
  }
  
  .menu-item p {
    margin: 0;
  }
  
  .menu-item button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  